/* Fonts */
    $fonts: (
        'cas': ('Cascadia Code', '/app/src/assets/fonts/CascadiaCode.ttf'),
        'jet': ('JetBrains Mono NL ExtraBold', '/app/src/assets/fonts/JetBrainsMonoNL-ExtraBold.ttf'),
        'fir': ('Fira Code SemiBold', '/app/src/assets/fonts/FiraCode-VariableFont_wght.ttf'),
    );

    @each $key, $f in $fonts {
        @font-face {
            font-family: nth($f, 1);
            src: url (nth($f, 2)) format('truetype');
            font-style: normal;
        }
    }
/* */

/* Global Vars */
$cas-font: map-get($fonts, 'cas');
$jet-font: map-get($fonts, 'jet');
$fir-font: map-get($fonts, 'nus');

/* Export */
    :export {
        @each $key, $f in $fonts {
            #{unquote($key)}: #{nth($f, 1)};
        }
    }
/* */