/* Fonts */
@import './font/fonts.scss';

/* Random Texts */
@import './random-text/random-text.scss';

html {
    font-family: $jet-font;
    overflow: hidden;

    user-select: none;
}

html, body, #root {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

#root {
    transform-origin: center center;
    transform: scale(1);
}