/* Imports */
@import url('./font/fonts.scss');
@import url('./random-text/random-text.scss');
@import url('./cursor-void/cursor-void.scss');
@import url('./particles/particles.scss');

html {
    font-family: $jet-font;
    overflow: hidden;

    user-select: none;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

html, body, #root, .container {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    transform-origin: center center;
}